<div class="note" id="<%= dom_id(note) %>">
  <div class="content">
    <%= format_note_content(note.content) %>
  </div>
  <div class="note-actions">
    <%= button_to toggle_star_note_path(note), 
                  class: "star-button #{note.starred ? 'starred' : ''}", 
                  method: :post,
                  form: { style: 'display: inline-block' } do %>
      <%= note.starred ? "★" : "☆" %>
    <% end %>
    <button class="reply-button" data-note-id="<%= note.id %>" type="button">
      Reply
    </button>
    <% if note.reference_count > 0 %>
      <%= link_to "(#{note.reference_count})", 
                  notes_path(referencing: note.id),
                  class: "reference-count" %>
    <% end %>
  </div>
</div>
