<div class="note" 
     id="<%= dom_id(note) %>" 
     <%= 'data-controller=note-expand' unless local_assigns[:show_view] %>>
  <div class="note-header">
    <%= button_to toggle_star_note_path(note), 
                  class: "star-button #{note.starred ? 'starred' : ''}", 
                  method: :post,
                  form: { style: 'display: inline-block' } do %>
      <%= note.starred ? "★" : "☆" %>
    <% end %>
  </div>
  <div class="content" <%= 'data-note-expand-target=content' unless local_assigns[:show_view] %>>
    <%= format_note_content(note.content) %>
  </div>
  <% unless local_assigns[:show_view] %>
    <button type="button" 
            class="show-more-button" 
            data-note-expand-target="button"
            data-action="click->note-expand#toggle">
      Show more
    </button>
  <% end %>
  <div class="note-actions">
    <%= link_to "##{note.id}", 
                note_path(note),
                class: "note-permalink" %>
    <button class="reply-button" data-note-id="<%= note.id %>" type="button">
      Reply
    </button>
    <% if note.reference_count > 0 %>
      <%= link_to "#{note.reference_count} #{note.reference_count == 1 ? 'reference' : 'references'}", 
                  notes_path(referencing: note.id),
                  class: "reference-count" %>
    <% end %>
    <%= link_to "Edit",
                edit_note_path(note),
                class: "note-action-link" %>
    <%= link_to "Delete", 
                note_path(note), 
                class: "note-action-link delete-link",
                data: { 
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure you want to delete this note?" 
                } %>
  </div>
</div>
