<% content_for :title, "Editing note" %>

<h1>Editing note</h1>

<div data-controller="notes">
  <%= form_with(model: @note, 
               local: true,
               html: { class: "note-form" }) do |f| %>
    <div class="field">
      <%= f.text_area :content, 
          data: { 
            notes_target: "input",
            action: "input->notes#inputChanged"
          } %>
    </div>
    <%= f.submit "Update Note", 
        data: { notes_target: "submit" } %>
  <% end %>
</div>

<br>

<div>
  <%= link_to "Show this note", @note %> |
  <%= link_to "Back to notes", notes_path %>
</div>
